* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}
/* added the wrap here since this is the parent of the cards */
main {
  display: flex;
  margin-top: 2%;
  flex-wrap: wrap;
}
/* changed from space-between to space-around so text on the right
appeared on the page, added a wrap to that it would go under the left
as screen got smaller */
.main-header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px;
  background: #13293d;
  color: #fff;
}

.card {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card img {
  width: 100%;
  /* The client insists that images be at least 400px */
  min-width: 400px;
}
